{% extends 'base.html' %}
{% block title %}
Category List
{% endblock title %}
{% block content %}

<main>
    <h1>Categories</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for cat in categories %}
        <tr>
            <td>{{cat.name}}</td>
           <td>{{cat.receipts.all}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</main>
{% endblock content %}